<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Watson Diet Trainer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/mybootstrap.css">
    <link rel="stylesheet" href="/chatbot.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/common.js"></script>
    <script src="/index.js"></script>
</head>

<body>

<header>
    <div class="container-fluid text-center">
        <h4>Watson Diet Trainer</h4>
    </div>
</header>

<div class="container-fluid">

    <button type="button" id="startBtnId" class="btn btn-default btn-block">チャットボットを開始する
    </button>

    <div class="bs-component">
        <div id="conversation_field"></div>
    </div>
    <br>
</div>

<footer class="container-fluid">
    <div id="anime" class="text-center"></div>
    <form id="searchFormId" action="#">
        <div class="input-group">
            <input type="text" class="form-control" id="qId" placeholder="メッセージを入力">
            <span class="input-group-btn">
                <button type="button" id="recordId" class="btn btn-primary">
                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                </button>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </form>
</footer>

</body>
</html>